<div class="container">
  <div class="row gimme-space-top" *ngIf="!loggedIn">
    <div class="col-12 mx-auto">
        <h3 class="gimme-space-top" align="center">You must <a (click)="login()"><u>Login</u></a> to build a date!</h3>
    </div>
  </div>
  <h3 class="gimme-space-top" align="center" *ngIf="loggedIn && noDates">Create some dates <span><a href="/build">here</a></span> to get started!</h3> 
  <div *ngFor="let item of dates$ | async" class="row gimme-space-top">
    <div class="col-12 mx-auto">
      <div class="date-options">
          <h4>{{item.dateName}}</h4>
          <p>{{item.description}}</p>
          <div>
            <span>
              <span *ngIf="isDateReady(item)"><a href="/my-date/date/{{item.dateId}}/{{user.uid}}">Go On Date</a> | </span> 
              <a href="/build/start-build/{{item.dateId}}">Edit Date</a> | 
              <a class="date-link" (click)="resetDate(item)">Reset Date</a> |
              <a class="date-link" (click)="deleteDate(item.dateId)">Delete Date</a>
            </span>
          </div>
          <hr>
      </div>
    </div>
  </div>
</div>