<div class="container">
    <div *ngFor="let item of dates$ | async" class="row gimme-space-top">
        <div class="col-12">
          <div class="date-options">
              <h4>{{item.dateName}}</h4>
              <p>{{item.description}}</p>
              <div>
                <span>
                  <a href="/my-date/date/{{item.dateId}}/EGpGpztEstbO8OxpDrJ2TxkXyhY2">Go On Date</a>
                </span>
              </div>
              <hr>
          </div>
        </div>
      </div>
</div>

<!-- <p>
  check out our sample dates below
</p>

<button type="button" class="btn btn-primary btn-lg">progressive meal</button>


<button type="button" class="btn btn-primary btn-lg">day date</button>


<div class="gimme-space-top" >
    <div class="row gimme-space-top mx-auto">
      <div class="col-12">
          <h3 align="center">Date Night <!--I want this to be what they named it in the first screen--> <!--Part 1</h3>
      </div>
    </div>
      <div class="row small-margins gimme-space-top">
          <div class="mx-auto col-md-4">
              <div class="card mt-2 mb-2 text-white bg-info">
                <div class="card-header">Wonderland Brewery</div>
                <div class="card-body">
                  <a class="btn btn-lg btn-block btn-secondary">Beer</a>
                </div>
              </div>
          </div>
        <div class="mx-auto col-md-4">
          <div class="card mt-2 mb-2 text-white bg-info">
            <div class="card-header">Wine Bar</div>
            <div class="card-body">
              <a class="btn btn-lg btn-block btn-secondary">Wine</a>
            </div>
          </div>
        </div>
        <div class="row small-margins gimme-space-top">

        <div class="mx-auto col-md-4">
            <div class="card mt-2 mb-2 text-white bg-info">
              <div class="card-header">Vestas Dipping Grill</div>
              <div class="card-body">
                <a class="btn btn-lg btn-block btn-secondary">Fancy</a>
              </div>
            </div>
        </div>
      <div class="mx-auto col-md-4">
        <div class="card mt-2 mb-2 text-white bg-info">
          <div class="card-header">Potato Pizza Place</div>
          <div class="card-body">
            <a class="btn btn-lg btn-block btn-secondary">Not Fancy</a>
          </div>
        </div>
      </div>
      </div>
    </div> -->
    