<div class="row gimme-space-top">
  <div class="mx-auto col-sm-4">
    <h3>Your Date Is Finished!</h3>
  </div>
</div>
<div class="row gimme-space-top">
  <div class="col-sm-4 mx-auto">
    <a class="btn btn-secondary btn-lg" href="/my-date">Go on My Date</a>
  </div>
</div>
<div class="row gimme-space-top">
  <div class="col-sm-4 mx-auto">
      <h5>Want to Share your date?</h5>
      <ul>
        <li><a>Send me an email</a></li>
        <li><a>Share to facebook</a></li>
        <li><a>Share to twitter</a></li>
      </ul>
  </div>
</div>

