<div class="container">
<div class="row gimme-space-top">
  <div class="col-sm-12">
    <h2 class="text-center">Your Date Is Ready!</h2>
  </div>
</div>
<div class="row gimme-space-top">
  <div class="col-sm-12 text-center">
      <h3>{{date.dateName}}</h3>
      <div>{{date.description}}</div>
  </div>
</div>
<br>
<br>
<hr>
<div *ngFor="let part of date?.dateOptions" class="gimme-space-top" >
  <div class="row">
        <div class="col-sm-4">
              <h5 [innerHtml]="part.option1?.label"></h5>
              <div [innerHtml]="part.option1?.name"></div>
              <div [innerHtml]="part.option1?.address"></div>
        </div>
        <div class="col-sm-2">
          <div class="text-center or-text"><strong>Or...</strong></div>
        </div>
      <div class="col-sm-4">
          <h5 [innerHtml]="part.option2?.label"></h5>
          <div [innerHtml]="part.option2?.name"></div>
          <div [innerHtml]="part.option2?.address"></div>
      </div>
    </div>
      <hr>
  </div>
<div class="row gimme-space-top">
  <div class="col-sm-12">
    <a class="btn btn-primary btn-lg" href="/my-date/date/{{userId}}/{{date.dateId}}">Go On My Date</a>
    <span>
        <a class="btn btn-primary btn-lg ml-2" href="/build/start-build/{{date.dateId}}">Edit My Date</a>
    </span>
  </div>
</div>
</div>