<div class="container gimme-space-top">
  <div class="row gimme-space-top" *ngIf="!isLoggedIn; else fullTemplate">
    <div class="col-12 mx-auto">
        You must <a (click)="login()"><u>Login</u></a> to build a date!
    </div>
  </div>
  <ng-template #fullTemplate>
    <div class="row">
      <div class="col-12 mx-auto text-center">
        <h3>{{date?.dateName}}</h3>
        <div><i>{{date?.description}}</i></div>
      </div>
    </div>
    <div *ngIf="!dateStarted; else dateTemplate" class="row mt-4">
        <div class="col-12 mx-auto text-center">
            <h6>Are you ready!?</h6>
            <button class="btn btn-lg btn-default" (click)="startDate()">Let's Start The date!</button>
        </div>
    </div>
    <ng-template #dateTemplate>
      <div *ngFor="let part of date?.dateOptions" class="gimme-space-top" >
        <div *ngIf="part.started && !part.finished" class="row small-margins gimme-space-top">
          <div *ngIf="!part.option2.selected" class="mx-auto text-center" [ngClass]="part?.option1.selected ? col-md-12 : col-md-4">
              <div class="card mt-2 mb-2 text-white bg-secondary">
                <div *ngIf="!part.option1.selected">
                  <button class="btn btn-lg btn-default" (click)="optionSelected(part?.option1)">{{part.option1?.label}}</button>
                </div>
                <div *ngIf="part.option1.selected">
                  <div class="card-body">
                    <h5>{{part.option1.name}}</h5>
                    {{part.option1.address}}
                  </div>
                  <div class="card-footer">
                      <button class="btn btn-lg btn-block" (click)="optionFinished(part)">Finished!</button>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="!part.option1.selected" class="mx-auto text-center" [ngClass]="part?.option2.selected ? col-md-12 : col-md-4">
              <div class="card mt-2 mb-2 text-white bg-secondary">
                <div *ngIf="!part.option2.selected">
                  <button class="btn btn-lg btn-default" (click)="optionSelected(part?.option2)">{{part.option2.label}}</button>
                </div>
                <div *ngIf="part.option2.selected">
                    <div class="card-body">
                        <h5>{{part.option2.name}}</h5>
                        {{part.option2.address}}
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-lg btn-block" (click)="optionFinished(part)">Finished!</button>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <div *ngIf="dateFinished" class="row mt-4">
          <div class="col-12 mx-auto text-center">
              <h6>Thanks For Going on a Create A Date!</h6>
              <div>We're excited to see you again soon.  Click the links below to share this date with your friends</div>
          </div>
      </div>
    </ng-template>
  </div>