<div class="container-fluid">
  <div class="row gimme-space-top" *ngIf="!isLoggedIn; else fullTemplate">
    <div class="col-12 mx-auto">
        You must <a (click)="login()"><u>Login</u></a> to build a date!
    </div>
  </div>
  <ng-template #fullTemplate>
    <div class="jumbotron">
        <div class="row">
            <div class="col-12 text-center">
              <div class="display-4">{{date?.dateName}} </div>
              <p class="lead gimme-space-top">{{date?.description}}</p>
            </div>
          </div>
          <div *ngIf="!dateStarted" class="row mt-4">
              <div class="col-12 mx-auto text-center">
                  <h5>Are you ready!?</h5>
              </div>
          </div>
    </div>
    <div *ngIf="!dateStarted" class="text-center gimme-space-top">
        <button class="btn btn-lg btn-primary gimme-space-top" (click)="startDate()">Let's Start The date!</button>
    </div>
    <div *ngIf="dateStarted">
      <div *ngFor="let part of date?.dateOptions" class="gimme-space-top" >
        <div *ngIf="part.started && !part.finished" class="small-margins gimme-space-top">
          <!-- <div *ngIf="!part.option1.selected && !part.option2.selected" class="row gimme-space-bottom">
              <div class="col-sm-12 text-center">
                  <h5 *ngIf="part.optionNumber === 1">For the first part of your date, your options are below.  Choose wisely...</h5>
                  <h5 *ngIf="part.optionNumber === 2">Now for the main course, what are we doing next?</h5>
                  <h5 *ngIf="part.optionNumber === 3">The grand finale! What'll it be..</h5>
              </div>
          </div> -->
          <div class="row">
          <div *ngIf="!part.option2.selected" class="mx-auto text-center" [ngClass]="part?.option1.selected ? col-md-12 : col-xs-6">
              <div class="card mt-2 mb-2 text-white bg-info">
                <div *ngIf="!part.option1.selected">
                  <div class="card-header">
                      {{part.option1?.label}}
                  </div>
                  <div class="card-body">
                    <button class="transparent-button" (click)="optionSelected(part?.option1)">
                      <img src="/assets/glass.png" class="img img-responsive">
                    </button>
                  </div>
                  <div class="card-footer">
                      <button class="btn btn-lg btn-block btn-primary" (click)="optionSelected(part?.option1)">{{part.option1?.label}}</button>
                  </div>
                </div>
                <div *ngIf="part.option1.selected">
                  <div class="card-header">
                      <h4>{{part.option1.name}}</h4>
                  </div>
                  <div class="card-body">
                    <div>{{part.option1.address}}</div>
                    <div>
                        <span *ngIf="part.option1?.placesInfo?.opening_hours?.open_now; else closed"><strong>Open</strong></span>
                        <ng-template #closed><span><strong>Closed</strong></span></ng-template>
                    </div>
                    <div>{{part.option1.placesInfo?.formatted_phone_number}}</div>
                    <br>
                    <a href="{{part.option1?.placesInfo?.url}}">Get Directions</a>
                  </div>
                  <div class="card-footer">
                      <button class="btn btn-lg btn-primary btn-block" (click)="optionFinished(part)">
                        <span *ngIf="part.optionNumber < 3">Continue to Part {{part.optionNumber + 1}}</span>
                        <span *ngIf="part.optionNumber === 3">Finish Date</span>
                      </button>
                  </div>
                </div>
              </div> 
            </div>
            <div *ngIf="!part.option1.selected && !part.option2.selected" class="text-center">
              <strong>Or...</strong>
            </div>
            <div *ngIf="!part.option1.selected" class="mx-auto text-center" [ngClass]="part?.option2.selected ? col-md-12 : col-xs-6">
              <div class="card mt-2 mb-2 text-white bg-info">
                <div *ngIf="!part.option2.selected">
                  <div class="card-header">
                      {{part.option2?.label}}
                  </div>
                  <div class="card-body">
                    <button class="transparent-button" (click)="optionSelected(part?.option2)">
                        <img src="/assets/glass.png" class="img img-responsive">
                    </button>
                  </div>
                  <div class="card-footer">
                    <button class="btn btn-lg btn-block btn-primary" (click)="optionSelected(part?.option2)">{{part.option2.label}}</button>
                  </div>
                </div>
                <div *ngIf="part.option2.selected">
                  <div class="card-header">
                      <h4>{{part.option2.name}}</h4>
                  </div>
                    <div class="card-body">
                        <div>{{part.option2.address}}</div>
                        <div>{{part.option2.placesInfo?.formatted_phone_number}}</div>
                        <div>
                            <span *ngIf="part.option2?.placesInfo?.opening_hours?.open_now; else closedNext"><strong>Open</strong></span>
                            <ng-template #closedNext><span><strong>Closed</strong></span></ng-template>
                        </div>
                        <br>
                        <a href="{{part.option2?.placesInfo?.url}}">Get Directions</a>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-lg btn-primary btn-block" (click)="optionFinished(part)">Finished!</button>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
      <div *ngIf="dateFinished" class="row gimme-space-top mt-4">
          <div class="col-12 mx-auto text-center">
              <h6>Thanks For Going on a Create A Date!</h6>
              <div>We're excited to see you again soon.  Click the links below to share create a date with your friends</div>
              <br>
              <span class="fb-share-button mr-2" data-href="https://createadate-26879.firebaseapp.com/my-date/date/1522613370693/EGpGpztEstbO8OxpDrJ2TxkXyhY2" data-layout="button" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fcreateadate-26879.firebaseapp.com%2Fmy-date%2Fdate%2F{{dateId}}%2F{{userId}}&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">
                <i class="fa fa-2x fa-facebook"></i></a></span>
                <span><a class="twitter-share-button ml-2" href="https://twitter.com/intent/tweet?text=Check%20out%20my%20Create%20A%20Date"><i class="fa fa-2x fa-twitter"></i></a></span>
              <br><br>
              <a (click)="resetDate()" class="gimme-space-top"><u>Reset this date!</u></a>
              <br>
          </div>
      </div>
    </ng-template>
  </div>