<div class="card gimme-space-top text-white bg-info mb-offset-3 mb-6" style="max-width: 40rem;margin-left:25%">
    <div class="card-header">Let's Get Started</div>
    <div class="card-body">
      <h4 class="card-title">First thing, what would you like to call this date?</h4>
      <p class="card-text">Can be anything from "A Night out in Denver" to "Frolicing with Unicorns".  The world is your oyster!</p>
      <form>
          <div class="form-group">
              <label for="nameOfDate">Date name:</label>
              <input type="text" class="form-control" id="nameOfDate" aria-describedby="date" placeholder="My Date">
              <small id="emailHelp" class="form-text text-muted">Extra text here?</small>
            </div>
      </form>
    </div>
  </div>
