<div class="row gimme-space-top mx-auto">
  <h3>Date Night Part 1</h3>
</div>
<div class="row gimme-space-top">
  <div class="mx-auto col-sm-6">
    <div class="card text-white bg-secondary">
      <div class="card-header">Option 1</div>
      <div class="card-body">
          <h4 class="card-title">Now it's time to set your options. What would you like to display for Option 1?</h4>
          <p class="card-text">For example, if Part 1 of your date is dinner you can display "Fancy" or "Not Fancy". If in Part 1 you are going to a park or to a museum you can display "Inside" or "Outside".</p>
          <form>
              <div class="form-group">
                  <label for="nameOfDate">Date Name:</label>
                  <input type="text" class="form-control" id="nameOfDate" aria-describedby="date" placeholder="My Date">
                  <small id="emailHelp" class="form-text text-muted">Extra text here?</small>
                </div>
          </form>
        <a class="btn btn-lg btn-default">Save Option 1</a>
      </div>
    </div>
    <div class="row gimme-space-top">
        <div class="mx-auto col-sm-6">
          <div class="card text-white bg-secondary">
            <div class="card-header">Option 2</div>
            <div class="card-body">
              <p class="card-text">Description Here</p>
              <a class="btn btn-lg btn-default">Save Option 2</a>
            </div>
          </div>
  </div>
</div>

