/* You can add global styles to this file, and also import other style files */

.gimme-space-top {
    margin-top: 30px;
}

.gimme-space-bottom {
    margin-bottom: 30px;
}

.text-white {
    color: rgba(255, 255, 255, 0.75);
}

@media screen and (max-width: 600px) {
    .small-margins {
        margin-right: 5px;
        margin-left: 5px;
    }

    .or-text {
        margin-top:15px;
        margin-bottom:15px;
    }
}

/* a {
    color: #EB6864 !important;
    text-decoration: none !important;
    background-color: transparent !important;
    cursor: pointer;
}

a:hover {
    color: #e22620 !important;
    text-decoration: underline !important;
} */