<div class="container-fluid">
  <div class="jumbotron">
    <h1 class="display-3">create a date</h1>
    <p class="lead">where will your next date take you?</p>
    <hr class="my-4">
    <p>Relieve a piece of your childhood by creating a choose your own adventure esk date for that special someone in your life.
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/date" role="button">go on a date</a>
      <a class="btn btn-primary btn-lg" href="/build" role="button">build a date</a>
    </p>
  </div>
<div id="aboutDescription" class="m-4">
    <div class="row">
        <h1>how it works</h1>
    </div>
    <div class="row">
        <p>
            Remember those choose your own adventure books from when you were a kid? We modeled
            "create a date" off of those fond memories! You start by creating a date and then fill in activity choices based on your location. When you go
            on your date your significant other will be able to choose between the location and then
            subsequent activities. It will be an experience you'll never forget.
            Still confused? Check out our sample dates!
        </p>
    </div>
</div>
</div>
<hr>
<!-- <app-date></app-date> -->