<div class="container-fluid">
  <div class="jumbotron">
    <h1 class="display-3">Create a Date</h1>
    <p class="lead">Spice up date night by going on a Create a Date.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod aliquid natus sequi tempora et incidunt sed? Obcaecati eum animi, vel hic mollitia dolor doloribus amet, accusamus impedit assumenda illum neque!
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/date" role="button">Go on a Date</a>
      <a class="btn btn-primary btn-lg" href="/build" role="button">Build A Date</a>
    </p>
  </div>
</div>