<div class="container-fluid">
  <div class="jumbotron">
    <h1 class="display-3">create a date</h1>
    <p class="lead">where will your next date take you?</p>
    <hr class="my-4">
    <p>Relieve a piece of your childhood by creating a choose your own adventure esk date for that special someone in your life.
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/date" role="button">go on a date</a>
      <a class="btn btn-primary btn-lg" href="/build" role="button">build a date</a>
    </p>
  </div>
</div>